.line {
    display: block;
    height: 2px;
    background: blue;
}
.top {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    background: linear-gradient(to bottom, aquamarine, blue);
    border-radius: 10px 10px 0 0;
}
.element {
    width: 100px;
    height: 10px;
    position: relative;
    background: blue;
    margin: 0 auto;
}
.element:before, .element:after {
    content: '';
    bottom: -8px;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border-width: 7px;
    border-style: solid;
}
.element:before {
    right: -17px;
    border-color: transparent transparent blue blue;
    clip-path: inset(12px 12px 8px 0px);
}
.element:after {
    left: -17px;
    border-color: transparent blue blue transparent;
    clip-path: inset(12px 0px 8px 12px);
}
