* {
  box-sizing: border-box;
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  display: grid;
  grid-template-columns: 200px;
  grid-template-areas: 'header' 'main' 'footer';
  justify-content: center;
  align-content: end;
}
.header__h2, .main__left, .main__center, .main__right, .footer {
  margin: 0;
  padding: 3rem 0;
}
.header {
  background-color: aquamarine;
  grid-area: header;
}
.header__h2 {
  text-align: center;
}
.main {
  grid-area: main;
  text-align: center;
  display: grid;
  grid-template-columns: 70px 2fr 1fr;
  grid-template-areas: 'left center right';
}
.main__left {
  grid-area: left;
  background-color: yellow;
}
.main__center {
  grid-area: center;
  background-color: #ccc;
}
.main__right {
  grid-area: right;
  background-color: chocolate;
}
.footer {
  grid-area: footer;
  text-align: center;
  background-color: blue;
}