html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  position: relative;
  background-color: yellow; /* todo: replace */
  cursor: pointer;
}
.container__bubble-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container__bubble {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  transform-origin: top left;
  border-radius: 50%;
  background-color: blue; /* todo: replace */
}
.container__bubble_fade-type_transparent {
  opacity: 0;
}
.container__bubble_fading-in {
  opacity: 0.7;
  transition-property: all;
  transition-timing-function: linear;
}
.container__bubble_fading-out {
  opacity: 0;
}
.container__text {
  display: block;
  position: relative;
}

.big-container { /* todo: replace to button */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 300px;
  user-select: none;
  overflow: hidden;
  border-radius: 50%;
}
