html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
body {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}

.container {
  display: block;
  position: relative;
}
.container__bubble-container {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container__bubble-container_overflow_no {
  overflow: hidden;
}
.container__bubble {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
  transform-origin: top left;
  border-radius: 50%;
  background-color: gray;
}
.container__bubble_fade-type_transparent {
  opacity: 0.3;
}
.container__bubble_fading-in {
  opacity: 0.7;
  transition-property: all;
  transition-timing-function: linear;
}
.container__bubble_fading-out {
  opacity: 0;
}
.container__text {
  display: block;
  position: relative;
}

.page-element {
  margin: 0 10px;
}

.bubble-button {
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  outline: none;
  border: none;
  cursor: pointer;
  background-color: #fff;
  padding: 20px 40px;
  font-size: 14px;
  border-radius: 4px;
  overflow: hidden;
  transition: background-color .2s ease-out;
}

.bubble-button_color_default {
  border: 1px solid #ccc;
}
.bubble-button_color_default:active {
  background-color: #ddd;
}

.bubble-button_color_green {
  color: green;
  border: 1px solid green;
}
.bubble-button_color_green:active {
  background-color: #d9f3d9;
}

.bubble-button_color_blue {
  color: blue;
  border: 1px solid blue;
}
.bubble-button_color_blue:active {
  background-color: #dadaff;
}

.bubble-button_square_yes {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  padding: 0;
  border: none;
}
.bubble-button_square_yes:active {
  background-color: #fff;
}
.bubble-button__dots {
  display: block;
  background-image: url(./ellipsis-v-solid.svg);
  background-size: 7px auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 10px;
  height: 40px;
}
