<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay"
        crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
<body>
<main class="main">
  <input id="js-search" type="text" class="scroll-search">
  <div class="scroll">
    <div id="js-loading" class="scroll__load-indicator"></div>
    <div id="js-slider" class="scroll__slider"></div>
  </div>
  <div id="js-btn-container" class="scroll-controls"></div>
</main>
</body>
</html>
