* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
}
body > * {
  grid-column: 2 / span 1;
  min-width: 0;
}
p, h1 {
  padding: .3rem;
}
span {
  margin: 0 .3rem;
}
header {
  background: yellow;
  grid-column: 1 / -1;
}
main {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1024px 1fr;
}
main > * {
  grid-column: 2;
}
.smth-beautiful {
  grid-column: 1 / -1;
  display: flex;
  height: 200px;
  flex-flow: row nowrap;
}
.item:nth-child(odd) {
  flex-grow: 1;
  background: yellow;
}
.item:nth-child(even) {
  flex-grow: 1;
  background: lime;
}
footer {
  grid-column: 1 / -1;
  background: aquamarine;
}

@media screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr 4fr 1fr;
  }
  main {
    display: block;
  }
}