body, html, h1, p {
    padding: 0;
    margin: 0;
}
.header-section {
    position: sticky;
    top: 0;
    padding: 1rem 0;
    background-color: yellow;
}
.main-section {
    background-color: greenyellow;
}

/*
Cool, now in just two lines of code we can achieve those awesome CSS effects that used to require the position: fixed
being applied to an element like the .header-section above and the margin-top with some value that had to be computed
via JavaScript being applied to the other element like .main-section above. Now it is so awesome :)
 */
