a {
  color: #000;
  text-decoration: none;
  font-family: sans-serif;
  font-size: .8rem;
}
div {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
  padding: 1rem;
  margin: 1rem 0;
}
.main {
  color: #444;
  display: block;
  position: fixed;
  top: 20px;
  right: 20px;
  border-radius: 4px;
  box-shadow: 0 0 3px #444;
  padding: .4rem;
  text-align: center;
  opacity: .4;
  transition: opacity .1s ease-in-out;
}
.main:hover {
  opacity: 1;
}