body, html, h1, p {
    margin: 0;
    padding: 0;
}
.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.container__header-section {
    padding: 1rem;
    grid-column: span 3;
    background-color: yellow;
}
.container__aside {
    box-sizing: border-box;
    align-self: start;
    height: 100vh;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: grey;
}
.container__main-section {
    padding: 1rem;
    background-color: greenyellow;
}

/*
So the point of position sticky is that no matter where it is in the DOM tree, it at first behaves as though it has
position: relative BUT as soon as this sticky element is about to leave the viewport ( hide behind its upper edge )
as soon as it is about to happen as you scroll the sticky element is going to
behave as though it has position: fixed ( with top and bottom and other such properties affecting it the same way
as position: fixed element ). The only thing is make sure that the height of this sticky element doesn't exceed the
height of the viewport or else this sticky element ends up scrolling at some point together with the page.
 */

/*
The most important thing in this very implementation is to NOT make the position sticky element the FULL height
of the page and thus exceeding the height of the viewport ( such as would be achieved if you were, for instance,
to set the align-self: stretch; property for it ). Try and play with it: if you make the position sticky element
300px high for instance, it will stick because its bottom is going to stay above the viewport's bottom and it will
stay even if you scroll all the way down.

But as soon as the position sticky element is higher than the viewport and its bottom is below the viewport's bottom,
it [ the position sticky element ] will scroll together with the page at some point, which, in our case, will
ruin the whole effect we are trying to achieve here.

It is very hard to explain but when we scroll the page ( not viewport! ) to the very bottom and if the position
sticky element's bottom is also touching the page's bottom, then this position sticky element will remain at top: 0
as specified by the CSS property as long as it can but at certain point it will start scrolling upward so that the user
can scroll thru the entire position sticky element as well as the page.
 */
