body > div {
    margin: .3rem;
}

#path {
    width: 80px;
    height: 200px;
    background-image:
        repeating-linear-gradient(143deg,blue, blue 20px, yellow 20px, yellow 40px),
        repeating-linear-gradient(-143deg, blue, blue 20px, yellow 20px, yellow 40px);
    background-size: 40px, 80px;
    background-repeat: repeat-y;
    animation: 1s up linear infinite;
    border: 2px solid lime;
}
#path.upturned {
    transform: rotate(180deg);
}

@keyframes up {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -200px;
    }
}

.control-pannel {
    display: inline-grid;
    border: 1px solid #000;
    grid-template-columns: 2fr 1fr 1fr;
}
.control-pannel__button {
    cursor: pointer;
    padding: .3rem;
    text-align: center;
    border: 1px solid #000;
    border-radius: 4px;
    transition: all .2s ease-out;
    margin: .1rem;
    user-select: none;
}
.control-pannel__button:hover {
    background: #ccc;
}
.control-pannel__button--dir {
    grid-column: auto / span 2;
    justify-self: left;
}
.control-pannel__label {
    align-self: center;
    padding: 0 .3rem;
}
