.computer {
  width: 93px;
  height: 98px;
  background: url(./images/computer.gif) no-repeat;
  padding: 5px;
  font-style: italic;
}

.computer-smile {
  background: url(./images/computer-smile.gif) no-repeat;
}

.draggable {
  cursor: pointer;
}