body, html {
  height: 100%;
}
body {
  padding: 0 300px 0 20px;
}
#my-stuff {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 400px;
  border: 1px solid #000;
  background: url('https://cldup.com/xFVFxOioAU.svg') no-repeat bottom right / 200px auto #b8c50038;
}