.arrow {
  padding: 0;
  background: #ddd;
  border-radius: 15px;
  border: 1px solid gray;
  font-size: 24px;
  line-height: 24px;
  color: #444;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -13px;
}
.arrow-left {
  left: 8px;
}
.arrow-right {
  right: 8px;
}
.arrow:focus {
  outline: none;
}
.arrow:hover {
  background: #ccc;
  cursor: pointer;
}

.holder-one {
  background: #eee;
  border-radius: 40px;
  border: 2px solid #ccc;
  padding: 10px 40px;
  width: 390px;
  height: 130px;
  position: relative;
}
.holder-two {
  overflow: hidden;
}

ul {
  height: 130px;
  width: 1300px;
  padding: 0;
  margin: 0;
  list-style: none;
  transition: .2s all ease-in-out;
  /* removing Whitespace Between Inline-Block Elements */
  font-size: 0;
}

ul img {
  width: 130px;
  height: 130px;
  /* displaying images as inline creates unnecessary space around images */
  display: block;
}

ul li {
  /* if there are spaces between <li> ... </li> and <li> ... </li> they are going to show on the page
  in order to fix this u should write li's like so: <li>..</li><li>..</li> or avoid closing li's via </li> */
  display: inline-block;
}